*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1270px;
    height:573px;
    background-color: rgb(77, 133, 192);
}

.box{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear;
}
.box:hover{
    width: 1200px;
    height: 500px;
    background-color: blueviolet;

}
