.screen-recorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .screen-recorder-video {
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
  }
.mr-2{
    color: green;
} 
.mr-3{
    color: red;
} 